
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 30px;
}
#nav-part2{
    display: flex;
    gap: 55px;
}

#nav-part3{
    display: flex;
    gap: 55px;
    align-items: center;
}

img{
    height: 65px;
    
}

h3{
    text-transform: uppercase;
}
h4{
    text-transform: uppercase;
}

#nav button{
    background-color: #fff;
    color: #000;
    font-size: 16px;
    padding: 18px 25px;
    font-weight: 700;
}

#main h1{
    font-size: 160px;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#main h1 span{
    background-color: brown;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 0 50px;
    
}

#main h1:nth-child(2){
    /* color: red; */
    margin-top: 50px;
}

#main #left-img{
    height: 300px;
    position: absolute;
    top: 14%;
    left: 7%;
    border-radius: 30px;
}

#main #right-img{
    height: 300px;
    position: absolute;
    bottom:14%;
    right: 7%;
    border-radius: 30px;
}